@import 'src/styles/variables.scss';

.login {
  height: 100vh;
  display: flex;
  overflow: hidden;

  .leftBlock {
    height: 100%;
    width: 50%;
    padding: 30px;

    .logoTitle {
      font-size: 24px;
      color: $colorText;
    }

    .themeWrapper {
      padding: 5px;
      border: 1px solid $borderColor;
      border-radius: 3px;

      div {
        width: 24px;
        height: 24px;
      }
    }
    .formBlock {
      width: 400px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 50px;

      h4 {
        font-size: 26px;
        color: $colorText;
      }

      .geogleBtn {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        margin-top: 25px;
        padding: 5px;
        background-color: $background;
        width: 100%;
        border: none;
        border-radius: 8px;
        font-size: 16px;
        font-weight: 500;
        color: $colorText;
      }
      .line {
        margin-top: 25px;
        display: flex;
        align-items: center;
        gap: 5px;
        div {
          width: 100%;
          background: #565b65;
          height: 1px;
        }
      }
      :global(.ant-form-item) {
        margin-bottom: 0 !important;
      }
    }
  }
  .rightBlock {
    width: 50%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
